body {
    background: url('/images/img1.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

.about-title{
    color: #0c0c0c;
}

.about-text {
    font-size: 1.25rem;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 600px;
    text-align: left;
    display: block;
    color: #0c0c0c;
}

.background-overlay {
    background-color: rgba(244, 236, 236, 0.361); /* White overlay with 70% transparency */
     padding: 50px 0;
     flex: 1; /* Allow overlay content to take up the remaining space */
 }

.card {
    background-color: rgba(255, 255, 255, 0.9);
}

.card-title {
    color: #1E2A5E;
}

.card-text {
    color: #333;
}
