
body {
    background-image: url('/images/img1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh; /* Ensure the body takes up the full viewport height */
    margin: 0; /* Remove default margin */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.background-overlay {
   background-color: rgba(244, 236, 236, 0.361); /* White overlay with 70% transparency */
    padding: 50px 0;
    flex: 1; /* Allow overlay content to take up the remaining space */
}

.slogan h1 {
    font-size: 3rem;
    color: #0c0c0c;
}

.slogan h2{
    font-size: 3rem;
    color: #0c0c0c;
}

.slogan p {
    font-size: 1.5rem;
    color: #0c0c0c;
}
