body {
    background-image: url('/images/img3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.btn-secondary{
    background-color: rgb(5, 51, 151);
}

.btn-secondary:hover{
    background-color: rgb(69, 128, 215);
}

.background-overlay {
    background-color: rgba(244, 236, 236, 0.361); /* White overlay with 70% transparency */
     padding: 50px 0;
     flex: 1; /* Allow overlay content to take up the remaining space */
 }